{% load  static%}
<!DOCTYPE HTML>
<html>

<head>
<title>Voidmain</title>
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}" title="style" />

    <style>
        .button {
          background-color: #f44336; /* Red */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        /* New styles for positioning the chat button */
.chat-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
    </style>

</head>

<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text" align="center">
					<!-- class="logo_colour", allows you to change the colour of the text -->
					<h3>
						<a href="#"><font color="white">College Chatbot</font></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</h3>
					<br/><br/>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">

                    <li><a href="/addattendance/">Add Attendance</a></li>
                    <li><a href="/viewattendance">View Attendance</a></li>
                    <li><a href="/addmarks">Upload Marks</a></li>
                    <li><a href="/viewpercentage">Percentage</a></li>
                    <li><a href="/viewstudentpercentage">Student Percentage</a></li>
                    <li><a href="/addinternship/">Add Internship</a></li>
                    <li><a href="/viewinternship/">Internships</a></li>
                    <li><a href="/logout">Logout</a></li>

				</ul>
			</div>
		</div>
		<div id="content_header"></div>
		<div id="site_content">
			<div id="content">

				<h1>{{message}}</h1>

                {% if request.session.role in "faculty" %}
                    <form name="form" action="/viewpercentageaction/">
                        {% csrf_token %}
                        <div class="form_settings">

                            <p>
                                <span>Department:</span>
                                <select name="department" required>
                                        <option value="">--select--</option>
                                        <option value="cse">cse</option>
                                        <option value="it">it</option>
                                        <option value="ece">ece</option>
                                        <option value="eee">eee</option>
                                        <option value="civil">civil</option>
                                        <option value="mech">mech</option>
                                </select>
                            </p>

                            <p>
                                <span>Year:</span>
                                <select name="year" required>
                                        <option value="">--select--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                </select>
                            </p>

                            <p>
                                <span>Semester:</span>
                                <select name="sem" required>
                                        <option value="">--select--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                </select>
                            </p>

                            <p>
                                <span>Section:</span>
                                <select name="section" required>
                                        <option value="">--select--</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                </select>
                            </p>

                            <p>
                                <span>Regulation:</span>
                                <select name="regulation" required>
                                        <option value="">--select--</option>
                                        <option value="r18">R18</option>
                                        <option value="r19">R19</option>
                                        <option value="r20">R20</option>
                                        <option value="r21">R21</option>
                                </select>
                            </p>

                            <p style="padding-top: 15px">
                                <span>&nbsp;</span><input class="submit" type="submit"
                                    name="contact_submitted" value="Submit" />
                            </p>

                        </div>
                    </form>
                    <br/><hr/>
                {% endif %}


                <table id="customers">
                  <tr>
                      <th>Roll Number</th>
                      <th>Percentage</th>
                  </tr>
                    {% for key,val in percentage.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ val }}</td>
                        </tr>
                    {% endfor %}
                </table>

			</div>
		</div>
        <div class="chat-button-container">
            <a href="/chat">
              <button class="button button2">Chat</button>
            </a>
          </div>
	</div>
</body>
</html>